apiVersion: batch/v2alpha1
kind: CronJob
metadata:
  name: curator
  namespace: logging
spec:
  schedule: 1 0 * * *
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: curator
            image: bobrik/curator:4.2.6
            imagePullPolicy: IfNotPresent
            args: ["--config", "/etc/config/config.yml", "/etc/config/action_file.yml"]
            volumeMounts:
            - name: config-volume
              mountPath: /etc/config
          volumes:
          - name: config-volume
            configMap:
              name: curator-config
          restartPolicy: OnFailure
